# Repository ownership
* @nandu-g-krishnan

/docs/ @nandu-g-krishnan
/docs/master-data/ @nandu-g-krishnan
/docs/architecture/ @nandu-g-krishnan
/docs/traceability/ @nandu-g-krishnan
/automation/ @nandu-g-krishnan
/.github/ @nandu-g-krishnan
